* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    
}
body{
    background-image: url(../images/snow2.jpg);
}
li, a{
    font-family:"Montserrat", sans-serif ;
    font-weight: 500 ;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color:rgb(8, 55, 82);
   
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color:rgb(8, 55, 82);
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover{
    color: #008a90;
}
.font_size{
    font-size: 30px;
    background: transparent;
    float: left;
    margin-left: 35%;
    margin-top: 20px;
}
.images{
    background: transparent;
    margin-left: 43%;
    margin-top: 40px;
}
.box{
    border: 2px solid black ;
}
.New_Link{
    background: transparent;
    background-color: transparent;
    font-size: 30px;
    color: rgb(221, 13, 13);
}